html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100%;
    margin: 0;
    background-image: url("../images/bg.jpg");
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgb(6, 10, 26);
}

.logo_holder {
    margin-left: 100px;
    font-size: 36px;
    color: white;
    letter-spacing: 0.1em;
}

.header_navigation {
    display: flex;
    margin-right: 200px;
}

.header_navigation a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-inline: 4px;
    padding-inline: 8px;
    text-decoration: none;
    color: white;
    background-color: rgb(8, 18, 58);
    border-radius: 4px;
}

.header a:hover {
    background-color: rgb(19, 32, 84);
}

.main_content {
    display: flex;
    justify-content: center;
}

.events {
    margin-top: 16px;
    width: 700px;
    border-radius: 4px;
    padding: 16px;
    background-color: rgb(6, 10, 26);
}

.events_header {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.events_header a {
    color: lightgrey;
    font-size: 20px;
    margin-inline: 16px;
    text-decoration: none;
    padding: 2px;
}

.events_header a:hover {
    color: white;
    background-color: rgb(19, 32, 84);
    border-radius: 4px;
}

.event {
    display: grid;
    gap: 4px;
}

.event_header {
    height: 24px;
    padding-inline: 12px;
    color: white;
    letter-spacing: 0.03em;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(19, 32, 84);
    border-radius: 4px;
}

.match {
    display: flex;
    align-items: center;
    height: 48px;
    padding-inline: 12px;
    color: white;
    letter-spacing: 0.03em;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(8, 18, 58);
    border-radius: 4px;
}

@media screen and (max-width: 800px) {
    .events {
        width: 400px;
    }
    .events_header a {
        margin-inline: 8px;
        font-size: 16px;
    }
}

@media screen and (max-width: 620px) {
    .header_navigation {
        margin-right: 8px;
    }
}

@media screen and (max-width: 520px) {
    .logo_holder {
        font-size: 16px;
        margin-left: 10px;
    }
    .events {
        width: 100%;
    }
    .events_header {
        justify-content: space-between;
    }
    .events_header a {
        margin-inline: 2px;
        font-size: 14px;
    }
}